<mat-card>
  <app-case-card title="Global" [data]="global"></app-case-card>
</mat-card>

<mat-card>
  <mat-form-field>
    <mat-label>Select a country </mat-label>
    <mat-select [(value)]="selectedCountry">
      <mat-option *ngFor="let c of countryOptions" [value]="c.code">
        {{ c.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-case-card
    *ngIf="country"
    [title]="getCountryNameByCode(selectedCountry)"
    [data]="country"
  ></app-case-card>

  <div *ngIf="!country">
    No data for {{ getCountryNameByCode(selectedCountry) }}
  </div>
</mat-card>

<!-- <pre>{{ global | json }}</pre>
<pre>{{ country | json }}</pre>
<pre>{{ iso3 | json }}</pre>
<pre>{{ countries | json }}</pre> -->
