<mat-card>
  <h2>Global Cases</h2>
  <app-case-card *ngIf="global" [data]="global"></app-case-card>
</mat-card>

<mat-card>
  <h2>{{ getCountryNameByCode(selectedCountry) }} Cases</h2>
  <mat-form-field>
    <mat-label>Select a country </mat-label>
    <mat-select [(value)]="selectedCountry">
      <mat-option *ngFor="let c of countryOptions" [value]="c.code">
        {{ c.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-case-card *ngIf="country" [data]="country"></app-case-card>
  <div *ngIf="!country">
    No data for {{ getCountryNameByCode(selectedCountry) }}
  </div>
</mat-card>
