.container {
  display: flex;
  justify-content: center;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
footer {
  mat-card {
    font-size: small;
    flex-wrap: wrap;
    border-top: 5px solid #c2185a;
  }
}

.page-footer {
  // background-color: #c2185a;
}
